In [1]:
import pandas as pd

In [ ]:
lis = [1,2,3,4,5]
df = pd.DataFrame(lis)

print(df)

   0
0  1
1  2
2  3
3  4
4  5

<bound method NDFrame.tail of    0
0  1
1  2
2  3
3  4
4  5>

In [7]:
list2 = [[1,2,3,4],[2,33,44,55,6]]

df = pd.DataFrame(list2)
print(df)

   0   1   2   3    4
0  1   2   3   4  NaN
1  2  33  44  55  6.0

In [10]:
list3 = [{'a':1,'b':2,'c':3},{'a':12,'b':13,'c':14}]
df = pd.DataFrame(list3)
print(df)

    a   b   c
0   1   2   3
1  12  13  14

In [19]:
list4 = {'Roll':pd.Series([1,2,3,4,5]),'Math':pd.Series([90,83,74,65,93])}

df = pd.DataFrame(list4)
df.to_csv('Roll_Math_Marks',index=False)

In [20]:
Roll_Math = pd.read_csv('Roll_Math_Marks')
Roll_Math

   Roll  Math
0     1    90
1     2    83
2     3    74
3     4    65
4     5    93

In [21]:
Roll_Math.columns

Index(['Roll', 'Math'], dtype='object')

In [22]:
Roll_Math.shape

(5, 2)

In [32]:
Roll_Math.size
Roll_Math.head(2) #first 2 rows
Roll_Math.tail(2) #last 2 rows
Roll_Math.describe()
Roll_Math.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Roll    5 non-null      int64
 1   Math    5 non-null      int64
dtypes: int64(2)
memory usage: 212.0 bytes

In [38]:
res = pd.read_csv(r'c:\Users\Rohit Mahadik\Downloads\Restaurant.csv')
# res.head(50)
res.isnull().sum()

Rank                  0
Restaurant            0
Content             217
Sales                 0
YOY_Sales             0
Units                 0
YOY_Units             0
Headquarters        198
Segment_Category      0
dtype: int64